.bootstrap-tagsinput{
    width:100%;
}

input.parsley-error:focus, textarea.parsley-error:focus, select.parsley-error:focus {
    background: #FAEDEC;
    border: 1px solid #E85445;
}

.parsley-errors-list{
    line-height: 1.9em;
}